<h1>Firestore Users</h1>
<p>Add new user.</p>

<input [(ngModel)]="company" placeholder="Company" class="input">
<input [(ngModel)]="email" placeholder="Email" class="input">
<input [(ngModel)]="firstName" placeholder="First Name" class="input">
<input [(ngModel)]="lastName" placeholder="Last Name" class="input">
<input [(ngModel)]="address" placeholder="Consultant Address" class="input">
<input [(ngModel)]="phone" placeholder="Phone Number" class="input">
<input [(ngModel)]="something" placeholder="Write something" class="input">


<button class="button is-success" (click)="createUser()" [disabled]="company?.length < 2 || company?.length > 200">
  Add User
</button>
<hr>
<div *ngFor="let user of users | async">
  <note-detail [user]="user"></note-detail>
</div>


